:root {
  --primary-100: #bb86fc;
  --primary-200: #9c6add;
  --primary-300: #572c97;
  --accent-100: #03dac6;
  --accent-200: #007768;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f0c29;
  --bg-200: #1d1c39;
  --bg-300: #353352;
}
