---
import "./index.css";
---

<section class="about page">
  <header>
    <h2 class="title">ABOUT ME</h2>
  </header>
  <main>
    <section class="about__profile">
      <figure>
        <img src="/assets/images/me.png" alt="jefferson steven" />
      </figure>

      <div class="tags">
        <a href="#certificates">Certificates</a>
        <a href="/assets/pdfs/cv-sp.pdf">CV</a>
      </div>
    </section>

    <section class="about__info">
      <article>
        <p>
          Hi, I'm Jeffer Steven, a Fullstack web developer focused on Frontend
          and deeply immersed in the world of web application design and
          development.
        </p>

        <p>
          I have successfully completed several projects, both in structured
          courses, bootcamps and during my free time. You can explore some of
          these projects in my portfolio.
        </p>

        <p>
          Currently, I am actively seeking interesting and challenging
          opportunities to further improve my skills as a web developer. My
          experience includes HTML, CSS, JavaScript, ReactJS, Tailwind, CSS,
          Sass, Next.js, Node.js, and PostgreSQL.
        </p>

        <p>
          I am eager to contribute my skills to innovative projects and look
          forward to the opportunities ahead.
        </p>
      </article>

      <div class="tags-mobile">
        <a href="#certificates">Certificates</a>
        <a href="/assets/pdfs/cv-sp.pdf">CV</a>
      </div>
    </section>
  </main>
</section>
