.about {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  min-height: 100vh;
  & main {
    display: flex;
    flex-direction: column;
    gap: 18px;
    & .about__profile {
      & figure {
        & img {
          border-radius: 16px;
          max-width: 300px;
        }
      }
    }
    & .about__info {
      display: flex;
      flex-direction: column;
      gap: 18px;
      & article {
        display: flex;
        flex-direction: column;
        gap: 9px;
      }
    }
  }
}

.tags {
  display: none;
}
