---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home/Home.astro";
import About from "../components/About/About.astro";
import "./index.css";
---

<Layout title="Jefferson Steven.">
  <main>
    <Home />
    <About />
  </main>
</Layout>
