---

---

<footer>
  <a title="home" target="_blank" href="/" class="home">
    <div class="logo-container">
      <div class="logo-animate"></div>
    </div>
    <img src="/assets/svgs/logo-dynamic.png" alt="Logo" class="logo" />
  </a>

  <div>
    <span>
      Designed in Figma and coded in Visual Studio Code by yours truly
    </span>
    <strong>
      <a target="_blank" href="https://github.com/Jefersonsteven">
        @Jeffersonsteven.
      </a>
    </strong>
    <span>
      Built with Astro, Reactjs, Prisma and CSS, implemented with Vercel. All
      text is set in League Spartan and Montserrat font.
    </span>
  </div>

  <nav class="socials">
    <a
      class="social-option"
      target="_blank"
      href="https://github.com/Jefersonsteven"
    >
      <img src="/assets/svgs/github.svg" alt="Github" />
    </a>
    <a
      class="social-option"
      target="_blank"
      href="https://www.linkedin.com/in/jeffersonsteven/"
    >
      <img src="/assets/svgs/linkedin.svg" alt="Linkedin" />
    </a>
    <a
      class="social-option"
      target="_blank"
      href="https://www.instagram.com/jefersonsteven_/"
    >
      <img src="/assets/svgs/instagram.svg" alt="Instagram" />
    </a>
  </nav>
</footer>

<style>
  .home {
    display: block;
    position: relative;
    width: 37px;
    height: 37px;
  }

  .logo-container {
    position: absolute;
    left: 0;
    width: 37px;
    height: 37px;
    overflow: hidden;
    border-radius: 50%;
  }

  .logo-animate {
    position: absolute;
    left: -90px;
    top: -20px;
    width: 370px;
    height: 370px;
    background: linear-gradient(
      90deg,
      #000000,
      #03dac6,
      #240070,
      #001aff,
      #ffffff,
      #1d1c39,
      #bb86fc,
      #9c6add,
      #572c97
    );
    animation: spin 5s ease-in infinite;
    border-radius: 50%;
    z-index: 10;
  }

  .logo {
    position: absolute;
    z-index: 20;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
