---

---

<header>
  <div class="nav">
    <div class="nav-interaction">
      <div class="line"></div>
      <div class="circles-container">
        <div class="circle-nav"></div>
        <div class="circle-nav"></div>
        <div class="circle-nav"></div>
        <div class="circle-nav"></div>
      </div>
    </div>
    <nav class="nav__options">
      <a class="option" href="/home" target="_blank">home</a>
      <a class="option" href="/about" target="_blank">about</a>
      <a class="option" href="/projects" target="_blank">projects</a>
      <a class="option" href="/contact" target="_blank">contact</a>
    </nav>
  </div>
  <div>
    <button aria-describedby="configuration" title="Configuration">
      <img src="/assets/svgs/settings.svg" alt="configuration" />
    </button>
  </div>
</header>
